html, body {
margin: 0px;
padding: 0px;
background-color: #525252;
}

#obrys {
padding: 0px;
background-color: #fbfbfb;
margin: 0 auto;
border-style:solid;
border-color: #4b4b4b;
border-width:3px 3px 3px 3px;
width: 902px;
overflow:hidden;

}
#main {
padding: 0px;
background-color: #373737;
margin: 0 auto;
border-style: solid;
border-color: #2b2b2b;
border-width: 1px 1px 1px 1px;
width: 900px;

overflow:hidden;
}

#content {
margin:0px;
float: left;
width: 757px;
padding: 0px;

}


#tresc {
margin:0px;
width: 757px;
padding: 3px;
font: normal 12px Verdana;
word-spacing:1px;
color: #d4d4d4;

}


P {

padding: 1px;
font: normal 12px Verdana;
color: #d4d4d4;
word-spacing:1px;
line-height: 1.4;
}


#menu1 {
margin-left:0px;
float: left;
width: 140px;
padding:0px;
background-color: #e3e2d3;
border: solid #bebdb3;
border-width: 0px 1px 1px 0px;

}
#menu2 {
margin-right:0px;
float: right;
width:140px;
background-color: #272727;
border: solid #292929;
border-width: 0px 0px 2px 1px;
padding:0px;
z-index:2;
}


#quote {
padding-bottom:1px;
width:900px;
text-align: center;
height: 11px;
border-width: 0px 0px 0px 0px;
border-style:solid;
border-color: #bfbfbf;
background-color: #3c3c3c;

}


#menu_gora {

border: solid 1px #92907a;
border-width: 0px 0px 0px 0px;
width: 900px;
text-align: center;
float: left;
margin-bottom:0px;
margin-top:0px;
padding-left:0px;
}

.main_menu {


margin: 0px;
float: left;
display: inline;
list-style: none;
width:150px;
}


.menu_up {

text-decoration: none;
font: normal 11px Tahoma;
letter-spacing:1px;
color: #fcfcfc;

background-color: #5f5f5f;
border-top: solid 1px #2b2b2b;
border-bottom: solid 1px #3d3d3d;
display: block;
}
.menu_up:hover {background-color: #2b2b2b; color: #fcfcfc;}


#hots {
background-image:url("gfx/tlo_menuup_d.jpg");
background-repeat: x-repeat;
background-color: #bebebe;
width: 757px;
height: 83px;
margin: 0px;
font: normal 11px Tahoma;
color: #fbf9f9;




border: solid 1px #2b2b2b;
border-width: 0px 1px 1px 0px;
padding: 1px;
}
.hot_menu {
width:160px;
float: left;

margin-top: 0px;
margin-right: 1px;
margin-bottom:0px;

padding: 1px;
list-style-type: none;
padding-left: 10px;
}
.hot_link {
font: normal 11px Arial;
color: #58653c;


background-image:url("gfx/strz.gif");
background-repeat:no-repeat;
padding-left: 10px;

text-decoration:none;
}
.hot_link:hover {
color: #839069;
background-color: #dedede;
}

.hotbold {
text-transform: uppercase;
font: bold 9px Arial;
color: #5f4d46;

}


#logo {
margin:0px;
padding:0px;
width:900px;
height:150px;
background-image:url("gfx/njs2logodark.jpg");
border: solid 1px #232426;
border-width: 1px 0px 0px 0px;
}

#footer {
font: Normal 10px Verdana;
color:#efeee2;
padding: 0px;
background-color: #313131;
margin: 0 auto;
margin-top:3px;

border-style:solid;
border-color: #292929;
border-width: 1px 0px 0px 0px;
width: 902px;
text-align:center;
}

.footlink {
font: Normal 12px Arial;
color:#efeee2;
text-decoration: none;
}
.footlink:hover {
text-decoration: underline;
}

.games_menu{ 
background-color: #3b3b3b;
margin-top: 0px;
margin-bottom:0px;
border: solid #bcba9f;
border-width: 0px 0px 0px 0px;
padding: 0px;
list-style-type: none;
margin-left:1px;
 }


 
a.gra {
background-image:url("gfx/bullet_white.png");
background-repeat:no-repeat;
padding-left: 14px;
color: #f1f1f1;
letter-spacing: 0px;
font: Normal 12px Arial;
border-top: solid 1px #505050;
display: block;
text-decoration: none;
}
a.gra:hover {
color: #ffffff;
background-color: #404040;


}
.game {
border-top: solid 1px #333333;

}
/* a.gra:first-letter {font-size:13px; } */

.dzialy{
margin:0px;
background-color: #575757;

}
a.dzial {
background-image:url("gfx/bullet_yellow.png");
background-repeat:no-repeat;
padding-left: 14px;
color: #c4c4c4;
font: normal 11px Arial;
background-color: #575757;
display: block;
text-decoration: none;


}
a.dzial:hover {
color: #e7e7e7;
text-decoration: underline;
}

.user_panel{ 
background-color: #3b3b3b;
margin: 0px 0px 0px 0px;
width: 100%;
border: solid #424242;
border-width: 0px 0px 1px 0px;
padding: 0px;

list-style-type: none;

 }
.panel {
padding-left: 1px;
margin-bottom:0px;
color: #d7d7d7;
margin-top: 0px;

} 
a.opcje {
letter-spacing: 1px;
font: bold 11px Arial;
color: #cccccc;
text-decoration: none;

}
a.opcje:hover {
color: #fdfdfd;
text-decoration: underline;
}

a.link1
{
text-decoration: none;
font: normal 11px Arial;
color: #e6e8e3;
border-bottom: solid 1px #959691;
}
a.link1:hover
{
border-color: #cdd0c7;
}


.hbx_menu{ 

margin-top: 0px;
margin-bottom:0px;
border: solid #bcba9f;
border-width: 1px 0px 0px 0px;
padding: 0px;
list-style-type: none;
 }



a.kmnt {
padding-left: 10px;
background-image:url("gfx/kropka.gif");
background-repeat:no-repeat;
font: normal 12px Arial;
border: solid 1px #fcfcfc;
border-width: 1px 0px 0px 0px;
display: block;
color: #6b6b6b;
text-decoration: none;
}
a.kmnt:hover {color: #505050; background-color:#f0f0f0; text-decoration: underline;}


.hts {
margin:0px 0px 0px 0px;
border: solid  #d4d4d4;
border-width: 0px 0px 1px 0px;

background-color: #f5f5ee;
}


					/* FORMULARZE */
.form_logowanie {
font: normal 11px Arial;
color: #ab5a2c;
margin: 0px;
padding:0px;
}
a.pyt {
font: bold 11px Arial;
color: #8c9b8a;
text-decoration: none; 
}
a.pyt:hover{
text-decoration: underline;
}

.input_logowanie {

border-width: 0px;
border : solid 1px #2d2d2d;
padding: 0px;
margin: 2px;
padding:1px;
font: bold 11px Tahoma;
color: #4c4c4c;
background-color: #c7c7c7;
width: 120px;
}

#form_rejestracja {
padding: 4px;
}

.input_rejestracja{
background-image:url("gfx/tlo_kmnt_dm.jpg");
background-repeat: x-repeat;

margin: 2px;
border: solid 1px #4c4c4c;
padding: 1px;
font : normal 12px Verdana;
color: #e4efdf;
background-color:#f0efe8;
}
.input_rejestracja:focus {background-color: #ffffff; border: solid 1px #737373;}

.rejestracja {
background-image:url("gfx/tlo_kmnt_dm.jpg");
background-repeat: x-repeat;
font: bold 13px Arial;
color: #e4efdf;
background-color: #f8f8f6;
border: solid 1px #545454;
width: 100%;
border-collapse: collapse;
text-align: center;
}

.addsth
{

padding: 3px;
border: solid 1px #d6d6d6;
font: Normal 13px Tahoma;
color: #61615d;
}


					/* czcionki etc.*/


cite {
font: 9px Tahoma;
color: #dddddd;
letter-spacing: 1px;
}
.mini {
color: #a7a58b;
font: normal 9px Verdana;
}


.ocena {

	color: #d1ed8a;
	font: bold 25px Georgia;
	border-left: solid 6px #484848;
	padding-left:2px;
	}

h5 {
padding-left:1px;
letter-spacing: 2px;
font-variant: small-caps;
font: Normal 13px Tahoma;
margin: 0px 0px 0px 0px;
	color: #ecffd4;
	background-color: #252525;
border: solid 1px #4c4c4c;
border-width: 0px 0px 2px 0px;


}

.hotbig {
	font: Normal 16px Tahoma;
	color: #576a38;
}
 h2 {

	font: Normal 16px Trebuchet MS;
	color: #7c884e;

	padding-left: 2px;
	
}



h3 {
margin-top: 2px;
margin-left: 3px;
display: block;
border-bottom: solid 1px #8e8e8e;
font: normal 22px Trebuchet MS;
color: #b6c1b1;
padding-bottom: 2px;
margin-bottom: 5px;

}
h4 {
font: normal 17px Trebuchet MS;
color: #daded8;
margin:1px;

}

								/* NEWS STYLE */
font.nag1{
	font: bold 15px Trebuchet MS;
	color: #9F8382;
	margin: 0px 0px 0px 0px;

	
}
h1 {font: normal 16px  Trebuchet MS;
	color: #4b4b4b;
	margin: 0px 0px 0px 0px;
	padding:1px;
	color: #bec77c;
	
}

.imgnews {float: left; padding: 5px;  margin-right: 4px;} // avek
.imgnews2{float: left; margin-top:2px; }
.imgpanel {margin-top:1px; margin-right:4px; vertical-align: middle;}

.news {

width: 757px;
padding:0px;
margin-bottom:5px;
border: solid 1px #363636;
border-width: 0px 0px 2px 0px;
background-color: #424242;

min-height:85px;
height: auto !important;
height: 85px;
}

.dane_news {

border-width: 1px 0px 0px 0px;
border-style: dotted;
border-color: #232323;
background-color: #424242;
padding-left: 5px;
font: Normal 12px Trebuchet MS;
color: #a3a3a3;
}




a.komentarze_link {
font: normal 11px Tahoma;
color: #dce4d5;
text-decoration: none;
}
a.komentarze_link:hover {text-decoration: underline;}

.tresc_newsa {
padding: 3px;
margin: 2px;
margin-top:0px;
padding-top: 0px;
word-spacing: 1px;
font: Normal 13px Arial;
color: #e9e9e9;
min-height:85px;
height: auto !important;
height: 85px;

line-height: 1.3;
}



								/* Konto */

a.profil {
text-decoration:none;
color: #dcdcdc;
font: Bold 12px Arial;
}
a.profil:hover {color: #c0cfb3;3 text-decoration: underline;}


.input_konto {
margin: 2px;
width: 200px;
border: 1px solid #c7c5aa;
background-color: #f6f6f6;
font: normal 10px Verdana;
color: #837f50;
}
.input_konto_button{
font: Bold 10px Verdana;
border: 1px solid #c7c5aa;
background-color: #f6f6f6;
color: #837f50;
}







/* pozostalosc z njs 1, nie uzywac tego */
font.hot{
font: normal 11px Verdana;
color: #565C5B;

}


.txt{

color: #3b3b3b;
font: normal 11px Verdana;
background-color: #f8f8f6;
border:solid #dadada;
border-width: 1px 1px 1px 1px;
border-collapse: collapse;
}



table {
font: normal 12px Arial;

}

.siwy {
	padding:2px;
	background-color: #dfdfdf;	
	font: normal 11px Verdana;
}
.jasny {
	padding:2px;
	background-color:#fff;
	font: normal 11px Verdana;
	}
a.upmenu {font: normal 12px tahoma; color: #ede486; text-decoration:none;}
a.upmenu:hover {text-decoration: none; color: #c2c1b6;}

a {
color: #575d56;
text-decoration: underline;
}
a:hover {text-decoration: none;}




.news_w8 {
width: 90%;
background-color: #fbfbfb;
border: solid 1px #efefef;
border-width: 0px 0px 1px 0px;
font: normal 11px Tahoma;
color: #5c5c5c;
padding: 3px;
margin-bottom:2px;

}
.form_glosuj
{
margin:0px;
}
input.glosuj {
background-image:url(gfx/tlo_up.jpg);
background-repeat: repeat-x;
margin:1px;
background-color: #f0f3eb;
border: solid 1px #d2d4cf;
font: bold 13px Verdana;
color: #73864f;
}

.users {
border: solid 1px #d7d7d7;
padding: 3px;
background-color: #fefefe;
font: normal 11px Verdana;
margin-bottom:3px;

}



.danetxt {
width:80%;
padding:2px;
margin-top: 3px;
border-top: 1px solid #8e8e8e;
background-color: #4c4c4c;
font: normal 10px Verdana;
color: #e4fbcd;
}



.games{
	font: bold 11px Verdana;
	color: 7D7D87;
	
}


.special {
font: normal 11px tahoma;
color: #9d8158;
}




a.funmenu
{
	font: normal 11px Tahoma;
	color: #696677;
	text-decoration: none;

	
}
a.funmenu:hover

{
	font:normal 11px Tahoma;
	color: #3c444c;
	text-decoration: none;
}


a.ex {
	font: Normal 13px Arial;
	text-decoration: none;
	color: #cdd5c9;
	border: 0px solid;
	border-bottom-width: 1px;
	border-color: #313131;
	margin-bottom:3px;
}

a.ex:hover {
		border-color: #565656;
}
a.ukryte{
color:#D8D7DD;
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;
	cursor: default;
}

#font_up {
font: normal 13px Trebuchet MS;
color: #90a16b;
text-decoration: none;
cursor: pointer;
}
#font_down {
font: normal 11px Trebuchet MS;
color: #90a16b;
text-decoration: none;
cursor: pointer;
}
#font_serif {
font: normal 12px Serif;
color: #90a16b;
text-decoration: none;
cursor: pointer;
}
#font_up:hover {color: #e9ff72;}
#font_down:hover {color: #e9ff72;}
#font_serif:hover {color: #e9ff72;}


					/* style pod katalog jrpg*/
.pod_obrazki {
text-align: center;
margin: 0 auto;
margin-top:5px;
margin-bottom:5px;
padding: 3px;
width: 90%;
border: solid 1px #dbdad0;
border-width: 1px 0px 1px 0px;

background-color: #565656;

}
.screens {
border: solid 1px #4b4b4b;
padding: 1px;
background-color: #c1c1c1;
margin: 4px;
}

.katalog_tab {
color: gray;
width: 90%;
border-spacing: 1px;
margin: 0 auto;
}
.ciemny {
padding:2px;
background-color: #272727;
font: normal 12px Tahoma;
color: #ffffff;
}
.ciemny2
{
background-color: #eaebe5;
}
.link2 {font: normal 12px Trebuchet MS; color: #979a84; border-bottom: solid 1px #272727; text-decoration: none;}
.link2:hover {border-bottom: solid 1px #615f33; color: #eddf97;}
.link3{font: normal 13px Arial; color: #e1e1c7; border-bottom:solid 1px #484848; text-decoration: none;}
.link3:hover {border-bottom: dashed 1px #484848; color: #edebad;}


/* kmnt i avki */

.komentarze {
width: 759px;
margin: 0 auto;
margin-bottom:5px;
color: #515150;
border: solid 1px #2f2f2f;
border-width: 0px 1px 0px 0px;
z-index:1;

}


.koment {
margin-left: 81px; 

padding-left: 6px;
}

.kmnt1 {
overflow: hidden;
padding: 3px;
font: normal 12px Verdana;
width: 752px;
border: solid 1px #4e4e4e;
border-width: 0px 0px 1px 0px;
background-color: #252525;
margin: 1px;
color: #d4d4d4;
}
.kmnt2 {
color: #d4d4d4;
overflow: hidden;
margin: 1px;
padding: 3px;
font: normal 12px Verdana;
width: 752px;
border: solid 1px #292929;
border-width: 0px 0px 1px 0px;
}

.kom_pola {
height: 130px;
width: 550px;
margin:2px;
padding: 4px;
border: solid 1px #4c4c4c;
font: Normal 13px Arial;
color: #dedede;
background-color: #ced9c6;
background-image:url("gfx/tlo_kmnt_dm.jpg");
background-repeat: x-repeat;
}


.av {

width:80px;

border-right: solid 2px #292929;
margin-right: 7px;
float: left;

}
.avek{
border: solid 1px #b2b09c;
padding:1px;
margin-right:3px;
}

/* style list*/
ul.list {list-style: none; padding-left: 3px;}

.list1{
padding: 2px;
padding-left: 15px;
background-image:url("gfx/bullet_spec2.png");
background-repeat: no-repeat;
}

.list2{
padding: 2px;
border-bottom:solid 1px #404040;
padding-left: 15px;
background-color: #292929;
background-image:url("gfx/bullet_spec.png");
background-repeat: no-repeat;
}


/* kolory i czcionki */
.braz_maly {color: #83825e; font-size:10px;}
