html, body {
margin: 0px;
padding: 0px;
background-color: #222222;
background: url('gfx/s1.png');
}

#obrys {
padding: 0px;
background-color: #222222;
margin: 0 auto;
border-style:solid;
border-color:#333333;
border-width:4px 4px 4px 4px;
width: 992px;
overflow:hidden;

}
#main {
padding: 0px;
background-color: #fbfbfb;
margin: 0 auto;
border-style: solid;
border-color: #131313;
border-width: 0px 1px 1px 1px;
width: 990px;

overflow:hidden;
}

#content {
margin:0px;
float: left;
width: 750px;
padding: 0px;
}


#tresc {
margin:0px;
width: 750px;
padding: 3px;
font: normal 12px Verdana;
word-spacing:1px;
color: #454545;

}


P {

padding: 1px;
font: normal 12px Verdana;
color: #454545;
word-spacing:1px;
line-height: 1.4;
}
#menu1 {
margin-left:0px;
float: left;
width: 140px;
padding:0px;
background-color: #e3e2d3;
border: solid #bebdb3;
border-width: 0px 1px 1px 0px;

}
#menu2 {
padding-left:0px;
margin-right:0px;
float: right;
width:230px;
background-color: #e3e2d3;
border: solid #bebdb3;
border-width: 0px 0px 1px 1px;
padding:0px;
z-index:2;
}
#quote {
padding-bottom:1px;
text-align: center;
float:right;
margin-top:76px;
}


#menu_gora {
margin-left:0px;
border: solid 1px #92907a;
border-width: 0px 0px 1px 0px;
width: 990px;
text-align: center;
float: left;
margin-bottom:0px;
margin-top:0px;
padding-left:0px;
background: url('gfx/navBG.gif') repeat-x;
}

.main_menu {
margin: 0px;
float: left;
display: block;
float:left;
list-style: none;

height:30px;
background: url('gfx/navBG.gif') repeat-x;
}
.mm2 {display: block;
list-style: none;float:right;height:30px;}


.menu_up {
text-decoration: none;
font: Normal 13px "Trebuchet MS";
letter-spacing:1px;
color: #fcfcfc;
height:29px;

display: block;
padding:6px;
}
.menu_up:hover {
text-decoration: underline;
background-color: #adab92;
background: url('gfx/navBG2.gif') repeat-x;
}


#hots {
background-image:url("gfx/tlo_menuup.jpg");
background-repeat: repeat-x;
width: 757px;
height: 83px;
margin: 0px;
font: normal 11px Tahoma;
color: #717171;

background-color: #fafaf8;

border: solid 1px #cecec8;
border-width: 0px 0px 1px 0px;
padding: 1px;
}
.hot_menu {
width:180px;
float: left;

margin: 0px 0px 0px 0px;

padding: 1px;
list-style-type: none;
}
.hot_link {
background-image:url("gfx/strz.gif");
background-repeat:no-repeat;
padding-left: 10px;
font: normal 12px Arial;
color: #6b6f62;
text-decoration:none;
}
.hot_link:hover {
color: #837956;
text-decoration: underline;
}

.hotbold {
text-transform: uppercase;
font: bold 10px Arial;
color: #6c6a4f;

}


#logo {
cursor: pointer;
margin:0px;
padding:0px;
width:990px;
height:89px;
background-image:url("gfx/banner21.jpg");
border: solid 1px #828070;
border-width: 1px 0px 1px 0px;
}

#footer {
background-image:url("gfx/footer_bg.jpg");
font: Normal 12px Arial;
color:#efeee2;
padding: 2px 0px 2px 0px;
background-color: #8d8b71;
margin: 0 auto;
border-style:solid;
border-color: #565447;
border-width: 0px 4px 4px 4px;
width: 992px;
margin-bottom: 1px;
text-align:center;
}

.footlink {
font: Normal 12px Arial;
color:#efeee2;
text-decoration: none;
}
.footlink:hover {
text-decoration: underline;
}



.games_menu{
background-color: #ebeadd;
margin-top: 0px;
margin-bottom:0px;
border: solid #bcba9f;
border-width: 1px 0px 1px 0px;
padding: 0px;
list-style-type: none;
margin-left:1px;
 }

.games_menu .game {

border-top: solid 1px #ededed;
}



a.gra {
padding-left: 15px;
margin-left:0px;
background-image:url("gfx/bullet_green.png");
/* background-image:url("gfx/bullet_black.png"); */
background-repeat:no-repeat;

color: #777560;
letter-spacing: 0px;
font: Normal 13px Arial;
border-top:solid 1px #e9e9ca;
display: block;
text-decoration: none;

}
a.gra:hover {
text-decoration: underline;
color: #8ea456;
/* color:#777; */
}

/* a.gra:first-letter {font-size:13px; } */

.dzialy{
margin:0px;
background-color: #f8f8f6;

}
a.dzial {
background-image:url("gfx/bullet_yellow.png");
background-repeat:no-repeat;
padding-left: 14px;
color: #979779;
font: normal 11px Arial;
background-color: #f5f5f5;
display: block;
text-decoration: none;


}
a.dzial:hover {
color: #767647;
text-decoration: underline;
}

.user_panel{
margin-bottom:0px;
margin: 0px 0px 0px 0px;
margin-left:545px;
padding: 0px;

margin-top:4px;
list-style-type: none;

 }
.panel {
padding-left: 2px;
color : #819559;
display:block;
float:right;
margin:4px 5px 0 0;
}

a.opcje {

font: Bold 12px Arial;
color : #EBE5A8;
text-decoration: none;

}
a.opcje:hover {
color: #f3f3f3;
}

a.link1
{
text-decoration: none;
font: normal 12px Arial;
color: #9b7c7c;
}
a.link1:hover
{
color: #563a3a;
}


.hbx_menu{

margin-top: 0px;
margin-bottom:0px;
border: solid #bcba9f;
border-width: 1px 0px 0px 0px;
padding: 0px;
list-style-type: none;
 }



a.kmnt {
padding-left: 10px;
background-image:url("gfx/kropka.gif");
background-repeat:no-repeat;
font: normal 12px Arial;
border: solid 1px #fcfcfc;
border-width: 1px 0px 0px 0px;
display: block;
color: #6b6b6b;
text-decoration: none;
}
a.kmnt:hover {color: #505050; background-color:#f0f0f0;
text-decoration: underline;}


.hts {
margin:0px 0px 0px 0px;
border: solid  #d4d4d4;
border-width: 0px 0px 1px 0px;

background-color: #f5f5ee;
}


                                       /* FORMULARZE */
.form_logowanie {
font: normal 11px Arial;
color: #90A16B;
margin: 0px;
padding:0px;
}
a.pyt {
font: bold 11px Arial;
color: #90A16B;
text-decoration: none;
}
a.pyt:hover{
text-decoration: underline;
}

.input_logowanie {
border : solid 1px;
padding: 0px;
margin: 2px;
margin-top:6px;
font: bold 12px Arial;
color: #90A16B;
background-color:#F2F2F2;
width: 55px;
}
.OK {
border : solid 1px;
font: bold 12px Arial;
color: #90A16B;
background-color:#F2F2F2;
}
.input_logowanie:focus {
background-color:#FFF;
}


#form_rejestracja {
padding: 4px;
}

.input_rejestracja{
margin: 2px;
border : solid 1px #ccd7c3;
padding: 1px;
font : normal 12px Verdana;
color: #737d6b;
background-color:#f0efe8;
}
.input_rejestracja:focus {background-color: #ffffff;}

.rejestracja {

font: bold 13px Arial;
color: #9a987f;
background-color: #f8f8f6;
border:solid #cfcebf;
border-width: 1px 1px 1px 1px;
width: 100%;
border-collapse: collapse;
text-align: center;
}

.addsth
{
padding: 3px;
border: solid 1px #d6d6d6;
font: Normal 13px Tahoma;
color: #61615d;
}
.hotsth
{
padding: 3px;
border-bottom: solid 1px #d6d6d6;
font: Normal 13px Arial;
background: #ECE9D9 url('gfx/starIcon.png') no-repeat 30px;
padding-left:90px;
width:667px;
color: #61615d;
line-height:1.4; word-spacing:1px;
text-shadow: 1px 1px #F8F8F8;
}

                                       /* czcionki etc.*/


cite {
font: 9px Arial;
color: #E0E5CA;
text-shadow:1px 1px 1px #111;
letter-spacing: 1px;
}
.mini {
color: #a7a58b;
font: normal 9px Verdana;
}


.ocena {


       color: #8a624e;
       font: bold 25px Georgia;
       border-left: solid 6px #e1dad6;
       padding-left:2px;
       }




h5 {
padding-left:1px;
letter-spacing: 2px;
font: Normal 17px "Trebuchet MS";
margin: 2px;
       color: #f2f1e7;
       background-color: #807C6A;
padding:2px;
background: url('gfx/h5bg.gif');

}

.hotbig {
       font: Normal 16px Tahoma;
       color: #576a38;
}
 h2 {

       font: Normal 16px "Trebuchet MS";
       color: #7c884e;
       margin-top: 2px;
       margin-bottom:2px;


}



h3 {
margin-top: 2px;
margin-left: 3px;
display: block;
border-bottom: solid 1px #e7e7e7;
font: normal 22px "Times New Roman";
color: #73704d;
padding-bottom: 2px;
margin-bottom: 5px;

}
h4 {
font: normal 17px Tahoma;
color: #848054;
margin:1px;

}

                                                               /* NEWS STYLE */
.nag1{
       font: bold 15px "Trebuchet MS";
       color: #9F8382;
       margin: 0px 0px 0px 0px;


}
h1 {font: normal 16px  Tahoma;
       color: #4b4b4b;
       margin: 0px 0px 0px 0px;
       padding:1px;
       color: #69684b;
}

h1 a {text-decoration: none;color: #69684b;}
h1 a:hover {text-decoration: underline;}

.imgnews {float: left; padding: 5px;  margin-right: 4px;}
.imgnews2{float: left; margin-top:2px; }
.imgpanel {margin-top:1px; margin-right:4px; vertical-align: middle;}

.news {

width: 757px;
padding:0px;
margin-bottom:5px;
border: solid 1px  #e9e9e9;
border-width: 0px 0px 0px 0px;
background-color: #fbfbfb;

min-height:85px;
height: auto !important;
height: 85px;

}

.dane_news {
background-image:url("gfx/tlo_news.jpg");
background-repeat: repeat-x;
border-width: 1px 0px 0px 0px;
border-style: solid;
border-color: #e9e9e9;
background-color: #eeefea;
padding-left: 5px;
font: Normal 11px Tahoma;
color: #859170;
}




a.komentarze_link {
font: normal 11px Tahoma;
color: #828060;
text-decoration: none;
}
a.komentarze_link:hover {color: #5d824c; text-decoration: underline;}

.tresc_newsa {
padding: 3px;
margin: 2px;
margin-left: 85px;
margin-top:0px;
padding-top: 0px;
word-spacing: 1px;
font: Normal 13px Arial;
color: #4e4e4e;


line-height: 1.3;
}



                                                               /* Konto */

a.profil {
text-decoration:none;
color: #69684b;
font: Bold 12px Arial;
}
a.profil:hover {color: #90ad7d; text-decoration: underline;}


.input_konto {
margin: 2px;
width: 200px;
border: 1px solid #c7c5aa;
background-color: #f6f6f6;
font: normal 10px Verdana;
color: #837f50;
}
.input_konto_button{
font: Bold 10px Verdana;
border: 1px solid #c7c5aa;
background-color: #f6f6f6;
color: #837f50;
}


div.pasek_konto {
padding-left:5px;
border-left:solid 5px #EEF1E9;
margin-bottom:5px;
}






/* pozostalosc z njs 1, nie uzywac tego */
font.hot{
font: normal 11px Verdana;
color: #565C5B;

}


.txt{

color: #3b3b3b;
font: normal 11px Verdana;
background-color: #f8f8f6;
border:solid #dadada;
border-width: 1px 1px 1px 1px;
border-collapse: collapse;
}



table {
font: normal 12px Arial;

}

.siwy {
       padding:2px;
       background-color: #dfdfdf;
       font: normal 11px Verdana;
}
.jasny {
       padding:2px;
       background-color:#fff;
       font: normal 11px Verdana;
       }
a.upmenu {font: normal 12px tahoma; color: #95847c; text-decoration:none;}
a.upmenu:hover {text-decoration: none; color: #654e44;}

a {
color: #575d56;
text-decoration: underline;
}
a:hover {text-decoration: none;}




.news_w8 {
width: 70%;
background-color: #fbfbfb;
border: solid 3px #efefef;
border-width: 0px 0px 0px 15px;
font: normal 11px Tahoma;
line-height:1.3;
color: #5c5c5c;
padding: 3px;
margin-bottom:2px;

}
.form_glosuj
{
margin:0px;
}
.glosuj {

margin:1px;
background-color: #f0f3eb;
border-top-color: #dadada;
border-right-color: #dadada;
border-left-color: #8c8c8c;
border-bottom-color: #8c8c8c;
border-style: solid;
border-width: 1px;
font: bold 13px Verdana;
color: #73864f;
}

.users {
border: solid 1px #d7d7d7;
padding: 3px;
background-color: #fefefe;
font: normal 11px Verdana;
margin-bottom:3px;

}



.danetxt {
width:90%;
padding:2px;
margin-top: 3px;
border: 1px solid #e1e8e1;
background-color: #f8f8f8;
font: normal 10px Verdana;
color: #908f7d;
margin-bottom: 2px;
}



.games{
       font: bold 11px Verdana;
       color: #7D7D87;

}


.special {
font: normal 11px tahoma;
color: #9d8158;
}




a.funmenu
{
       font: normal 11px Tahoma;
       color: #696677;
       text-decoration: none;


}
a.funmenu:hover

{
       font:normal 11px Tahoma;
       color: #3c444c;
       text-decoration: none;
}


.ex {
       font: Normal 13px Arial;
       text-decoration: none;
       color:#938d76;
       border: 0px solid;
       border-bottom-width: 1px;
       border-color: #e5dedb;
       margin-bottom:3px;
}

.ex:hover {
               color: #5f5a4a;
               border-color: #b6a095;
}
a.ukryte{
       cursor: default;
}
div.koment img.k {border: none; vertical-align:middle;}

#font_up {
font: normal 13px "Trebuchet MS";
color: #90a16b;
text-decoration: none;
cursor: pointer;
}
#font_down {
font: normal 11px "Trebuchet MS";
color: #90a16b;
text-decoration: none;
cursor: pointer;
}
#font_serif {
font: normal 12px Serif;
color: #90a16b;
text-decoration: none;
cursor: pointer;
}
#font_up:hover {color: #515151;}
#font_down:hover {color: #515151;}
#font_serif:hover {color: #515151;}


                                       /* style pod katalog jrpg*/
.pod_obrazki {
text-align: center;
margin: 0 auto;
margin-top:5px;
margin-bottom:5px;
padding: 3px;
width: 90%;
border: solid 1px #dbdad0;
border-width: 1px 0px 1px 0px;

background-color: #f8f8f4;

}
.screens {
border: solid 1px #696969;
padding: 1px;
background-color: #c1c1c1;
margin: 4px;
}


.katalog_tab {

width: 90%;
border-spacing: 1px;
margin: 0 auto;
}
.ciemny {
padding:2px;
background-color: #c6c5b6;
font: normal 12px Tahoma;
color: #ffffff;
}
.ciemny2
{
background-color: #eaebe5;
}
.link2 {font: normal 12px "Trebuchet MS"; color: #979a84;
border-bottom: solid 1px #f1f1fb; text-decoration: none;}
.link2:hover {border-bottom: solid 1px #a8aaa1; color: #62645b;}
.link3{font: bold 13px Arial; color: #6f7264; border-bottom:solid
1px #e5eadd; text-decoration: none;}
.link3:hover {border-bottom: solid 1px #85b127;}


/* kmnt i avki */

.komentarze {
clear: both;
width: 759px;
margin: 0 auto;
margin-bottom:5px;
color: #515150;
border: dotted 1px #b4b39f;
border-width: 0px 1px 0px 0px;
z-index:1;

}

.kmnt1 {
overflow: hidden;
padding: 3px;
font: normal 12px Verdana;
width: 752px;
border: solid 1px #a3a18b;
border-width: 0px 0px 1px 0px;
background-color: #e3e2d3;
margin: 1px;
}
.kmnt2 {
overflow: hidden;
margin: 1px;
padding: 3px;
font: normal 12px Verdana;
width: 752px;
border: solid 1px #bebdab;
border-width: 0px 0px 1px 0px;
}

.kom_pola {
height: 130px;
width: 550px;
margin:2px;
padding: 2px;
border: solid 1px #bdbdac;
font: Normal 13px Arial;
color: #5e5e57;
background-color: #f9f9f9;
}


.av {

width:80px;

border-right: solid 1px #bfbeac;

float: left;

}
.avek{
border: solid 1px #b2b09c;
padding:1px;
margin-right:3px;
}
.koment {
margin-left: 81px;
padding-right: 10px;
padding-left: 6px;
}

/* style list*/
ul.list {list-style: none; padding-left: 3px; margin-top:3px;}

.list1{
padding: 2px;
padding-left: 15px;
background-image:url("gfx/bullet_spec2.png");
background-repeat: no-repeat;
}

.list2{
padding: 2px;
border-bottom:solid 1px #EEF1E9;
padding-left: 15px;
background-color:#F5F5F5;
background-image:url("gfx/bullet_spec.png");
background-repeat: no-repeat;
}


.hr {
display: block;
width : 80%;
height:1px;
background-color: #e0e1d3;


}

div.platbox {position:relative; border-top: solid 3px #BEBEA8; padding:5px; margin-left:1px; border-left: solid 1px #CBCBBF;}
.miniRate {float:right; color: #A7A58B;}

.avmini {
width:40px;
border-right: solid 1px #bfbeac;
float:left;
}
.komentmini {
margin-left: 41px;
padding-right: 10px;
padding-left: 6px;
font: normal 11px Arial;
color: #61615d;
}
/*.katalog_tab tr.ciemny td {text-shadow: 1px 1px #999;}
*/

span.rate {
font: normal 20px Arial;
color: #7B7560;
}
span.rateByFew {
font: normal 20px Arial;
color: #A9A390;
}
.rateForm {margin:1px; color: #65573C; background: #E9E6DF; border: solid 1px #CCC1AC; font: bold 12px Arial;}
span.my_rate {
font: normal 14px Arial;
color: #727272;
}
.topBorder {border-top:solid 1px #E3E3D6; 
border-bottom:solid 1px #E3E3D6;
background-color: #f8f8f6;}
/* kolory i czcionki */
.braz_maly {color: #83825e; font-size:10px;}
.mdl {vertical-align:middle;}
