body {
background-color: #f3f4f2;
color: #565d4e;
font: Normal 12px Tahoma;
}
input {
padding:1px;
border: solid 1px #c2cdb2;
background-color: #e5ebdd;

}

.linia {
margin:2px;
width: 100%;
border: dashed 1px gray;
border-width: 1px 0px 0px 0px;
}

textarea {
height:300px;
width: 790px;
margin:2px;
padding: 2px;
font: Normal 13px Arial;
border: solid 1px #a5a99f;
background-color: #ffffff;
color: #3a3a38;
}
select {
border: solid 1px #d1c7a0;
background-color: #ece9dc;
}
h6 {
font: Normal 15px Verdana;
color: #758560;
text-decoration: underline;
margin-bottom: 1px;
margin: 0px;
}
.button {
color: #efffda;
border: solid 1px #8c997a;
background-color: #bbc1b4;
padding:2px;
cursor: pointer;
}