
<?
function array_push_associative(&$arr) {
   $args = func_get_args();
   foreach ($args as $arg) {
       if (is_array($arg)) {
           foreach ($arg as $key => $value) {
               $arr[$key] = $value;
               $ret++;
           }
       }else{
           $arr[$arg] = "";
       }
   }
   return $ret;
}

function getStats($username) {
	
	$sql = 'select exp,gil,av,status from users where nick = "'.$username.'"';
	$q = mysql_query($sql);
	$rows = mysql_fetch_assoc($q);
	if($rows['av']=='') {$rows['av'] = 'http://neojsite.pl/avs/3.jpg';}
	if($rows['exp']=='') {$rows['exp'] = '???';}
	if($rows['gil']=='') {$rows['gil'] = '???';}
	
	$news_count = mysql_fetch_assoc(mysql_query('select count(*) as news_count from tab_newsy where autor = "'.$username.'"'));	
	//array_push($rows, $news_count);
	
	$txts_count = mysql_fetch_array(mysql_query('select count(*) as txts_count from tab_teksty where autor = "'.$username.'"'));
	
	$reviews_count = mysql_fetch_array(mysql_query('select count(*) as reviews_count from recenzje_users where nick = "'.$username.'"'));

	
	array_push_associative($rows,$news_count,$txts_count,$reviews_count);

	
	return $rows;
	}

//print_r(getStats('Adamus'));

function print_top_stats($nick,$stats_nick,$stats) {
	echo '<table>
<tr>
<td style="vertical-align:top;background:#F5F5F5;border-right:solid 1px #EBEBEB; margin-left:5px;"><img class="avek" src="'.$stats['av'].'"></td>

<td>
<h4>&nbsp;&nbsp;'.$nick.' <a class="ex" href="http://neojsite.pl/profil/'.$stats_nick.'">&bull; profil na stronie</a></h4>';
	
	}
	
	
function print_bottom_stats($stats) {
	echo '<li class="list2">Newsów : <b>'.$stats['news_count'].'</b> <b>|</b> Tekstów: <b>'.$stats['txts_count'].'</b> | Recenzji: <b>'.$stats['reviews_count'].'</b></li>
<li class="list2"> Exp : '.$stats['exp'].' <b>|</b> Gil: '.$stats['gil'].'</li>
</ul>
</td>
</tr>
</table>';
	
	}	

?>
<div id="tresc">
<h3>Hall of Fame ;)</h3>



<?
$stats = getStats('RmZ');
print_top_stats('RmZ','RmZ',$stats);
?>
<ul class="list">
<li class="list1"><b>Ulubione jRPG</b>: FFT, LoM, FFX i kilka innych.</li>
<li class="list1"><b>non-jrpg</b>: gry Kojimy, ddr'y, popierdółki ;)</li>
<li class="list1"><b>Coś o sobie</b>: Student US, interesuje się wszystkim po trochu - informatyką, muzyką, filmem, książką, dobrym jedzeniem. Natomiast głównie dokuczaniem i czepianiem się. ;)</li>
<li class="list1"><b>Nałóg</b>: kawa, muzyka, czekolada.</li>
<li class="list1"><b>Co tu robi</b>: wszystko. Banuje, pisze, wrzuca-wyrzuca, rekrutuje.</li>
<li class="list1"><b>Kontakt</b>: GG 3875242 / <a href="mailto:rmztej@gmail.com" class="menu1">rmztej@gmail.com</a></li>
<?
print_bottom_stats($stats);
?>

<?
$stats = getStats('Dark Serge');
print_top_stats('Dark Serge','Dark Serge',$stats);
?>
<ul class="list">
<li class="list1"><b>Ulubione jRPG</b>:Suikoden 2, VP, VP:S, SO2/3, RG </li>
<li class="list1"><b>non-jrpg</b>: Silent Hill, DDR, Guitar Freaks i inne muzyczne ;&gt; </li>
<li class="list1"><b>Coś o sobie</b>: Poszukiwator dobrego klimatu ^^', HC fan konsol, lubie długo pospać :&gt;</li>
<li class="list1"><b>Nałóg</b>:Kobiety ^^"  kawa, spanie, kawa, granie... aha - i kawa ^^</li>
<li class="list1"><b>Co tu robi</b>: Kierownik forum :&gt;, po trochu stroną, głowa z pomysłami. </li>

<li class="list1"><b>Kontakt</b>: GG: 1466633 | Tlen : dark_serge  |  <a href="mailto:dark_serge@o2.pl" class="menu1">dark_serge@o2.pl</a>|</li>
<?
print_bottom_stats($stats);
?>


<?
$stats = getStats('Adamus');
print_top_stats('Adamus','Adamus',$stats);
?>
<ul class="list">
<li class="list1"><b>Ulubiony jrpg</b>: Final Fantasy VIII, Parasite Eve 1 & 2, The Legend of Zelda: The Wind Waker</li>
<li class="list1"><b>non-jrpg</b>: Seria Resident Evil i ogólnie pojęty Arcade</li>
<li class="list1"><b>Coś o sobie</b>: Raczej spokojny słuchacz na uczelni detektywistyczno - ochroniarskiej, miłośnik jrpg i kina grozy.</li>
<li class="list1"><b>Nałóg</b>: Nie stwierdzono ;)</li>
<li class="list1"><b>Co tu robi</b>: Newsy pisze.</li>
<li class="list1"><b>Kontakt</b>: Mail: <a href="mailto:ad50@interia.pl" class="menu1">ad50@interia.pl</a> / GG: 6361786</li>
<?
print_bottom_stats($stats);
?>

<?
$stats = getStats('Seph');
print_top_stats('Seph','Seph',$stats);
?>

<ul class="list">
<li class="list1"><b>Ulubiony jrpg</b> : FF, Suiko AT, VP,CC  I duuużo innych </li>
<li class="list1"><b>Nie jrpg</b> : MGSy, RE, DB ^^</li>
<li class="list1"><b>Coś o sobie</b> : Ponad  18 lat. Lubię dobrą muzykę i imprezy </li>

<li class="list1"><b>Nałóg</b> : GRANIE  :D alkohol </li>
<li class="list1"><b>Co tu robi</b> : Pisze i wrzuca teksty,na forum zagląda, uzupełnia galerie wszystkiego po trochu ;)</li>
<li class="list1"><b>Kontakt</b>: GG: 473129 <a href="mailto:seraphito@gmail.com" class="menu1">seraphito@gmail.com</a></li>
<?
print_bottom_stats($stats);
?>

<?
$stats = getStats('.tomi');
print_top_stats('.tomi','.tomi',$stats);
?>
<ul class="list">
<li class="list1"><b>ulubiony jrpg</b>: gry NIS, gry GUST...</li>
<li class="list1"><b>nie jrpg</b>: galge od Key, DDR...</li>
<li class="list1"><b>Coś o sobie</b>: Urodzony w W-wie w roku 1990. człowiek płci męskiej, kochający gry jRPG, od kiedy jeden z kolegów pożyczył mu FFIX. Zna też język japoñski, a raczej jego gramatykę. ^^ (ze słownikiem przetłumaczy :P)</li>

<li class="list1"><b>nałóg</b>: anime/jRPG/HighQ otaku</li>
<li class="list1"><b>co tu robi</b>: pomaga w tworzeniu strony</li>
<li class="list1"><b>kontakt</b>: skype name: dottomi, MSN: dottomi@o2.pl, AIM: dottttomi, #GG: 6949005, e-mail: <a href="mailto:dottomi@gmail.com" class="menu1">dottomi@gmail.com</a></li>
<?
print_bottom_stats($stats);
?>


<?
$stats = getStats('WhiteMan');
print_top_stats('WhiteMan','WhiteMan',$stats);
?>
<ul class="list">
<li class="list1"><b>ulubiony jrpg</b>:Xenogears, FF7, wszystko, gdzie dużo czytania ;p </li>
<li class="list1"><b>Nie jrpg</b>:cRPG, MMORPG, Tekkeny i japoñskie dziwadła</li>
<li class="list1"><b>Coś o sobie</b>: Student fil. angielskiej, alkoholik, leniwy, cyniczny, 
chamski, ordynarny, choleryczny i wulgarny, czyli ideał ;]</li>
<li class="list1"><b>Nałóg</b>:  aktualnie tylko alkohol i gry ;p</li>
<li class="list1"><b>Co tu robi</b>:  piszę teksty i eee.... piszę teksty ;p</li>

<li class="list1"><b>kontakt</b>:  GG 3575275 / <a href="mailto:shiromaru2d@gmail.com" class="menu1">shiromaru2d@gmail.com</a> </li>
<?
print_bottom_stats($stats);
?>

<?
$stats = getStats('Jeżyk');
print_top_stats('Jeżyk','Jeżyk',$stats);
?>
<ul class="list">
<li class="list1"><b>ulubiony jrpg</b>: Chrono Cross, Legend of Dragoon, FFIX  </li>
<li class="list1"><b>Nie jrpg</b>: Silent Hill, PES, NBA 2kX, SC3 </li>
<li class="list1"><b>Coś o sobie</b>: Student UŁ który interesuje się historią, filmem, muzyką, opierdzielaniem się :D</li>

<li class="list1"><b>Nałóg</b>: piwo, historia:] </li>
<li class="list1"><b>Co tu robi</b>: Zajmuje się działem Legend of Dragoon </li>
<li class="list1"><b>Kontakt</b>: GG 9517608, <a href="mailto:Claud88@interia.pl" class="menu1">Claud88@interia.pl</a> 
<?
print_bottom_stats($stats);
?>

<?
$stats = getStats('Wiciu');
print_top_stats('Wiciu','Wiciu',$stats);
?>
<ul class="list">
<li class="list1"><b>ulubiony jrpg</b>: prawie wszystkie - głównie seria FF. </li>
<li class="list1"><b>Nie jrpg</b>: GoW, DMC.</li>

<li class="list1"><b>Coś o sobie</b>:  Student UŚ o wszechstronnych zainteresowaniach - książka, film, teatr, trochę informatyka i sport (Aikido:D)</li>
<li class="list1"><b>Nałóg</b>: Imprezowanie i granie :) + treningi</li>
<li class="list1"><b>Co tu robi</b>: to na co mu na razie pozwolą :) recki, powoli grafika i animacje.</li>
<li class="list1"><b>kontakt</b>: mail: <a class="menu1" href="mailto:wojtekfidyk@interia.pl">wojtekfidyk@interia.pl</a>;GG:4086839; tlen:viciu87@tlen.pl; skype: wojciech.fidyk; <a href="http://www.kumuradojo.org" target="_blank">www.kumuradojo.org</a>. </li>
<?
print_bottom_stats($stats);
?>

<?
$stats = getStats('Des');
print_top_stats('Des','Des',$stats);
?>
<ul class="list">
<li class="list1"><b>jRPG</b>: gram we wszystkie, cenie sobie serię Suikoden.</li>

<li class="list1"><b>non-jrpg</b>: różnie :)</li>
<li class="list1"><b>Coś o sobie</b>: Moje miasto Łódź, uczeñ, gracz, informatyk (programowanie), lubie dobrą muzykę oraz dobre filmy, interesuje się manga&amp;anime, uczę się japoñskiego (powoli).</li>
<li class="list1"><b>Nałóg</b>: GRANIE XD</li>
<li class="list1"><b>Co tu robi</b>: Newsman, recenzent, felietonista.</li>
<li class="list1"><b>Kontakt</b>: GG: 8485718 Mail: <a href="mailto:jdes@gazeta.pl" class="menu1">jdes@gazeta.pl</a>
<?
print_bottom_stats($stats);
?>


<?
$stats = getStats('TeddieBear');
print_top_stats('TeddieBear','TeddieBear',$stats);
?>
<ul class="list">
<li class="list1"><b>jRPG</b>: Fina Fantasy I - XIII, Persona 3 i 4.</li>

<li class="list1"><b>non-jrpg</b>: Heavy Rain, God of War, GTA, Silent Hill.</li>
<li class="list1"><b>Coś o sobie</b>: Przystojny, wysportowany i inteligentny. Jednym słowem: Supergość!</li>
<li class="list1"><b>Nałóg</b>: Eeee......chyba nie ma.</li>
<li class="list1"><b>Co tu robi</b>: "gość od Person" </li>
<li class="list1"><b>Kontakt</b>: GG 21566210 Mail: <a href="mailto:teddiebear1@onet.pl" class="menu1">teddiebear1@onet.pl</a>
<?
print_bottom_stats($stats);
?>



<h3>Pomoc</h3>
<br />

<?
$stats = getStats('Izzy');
print_top_stats('Izzy','Izzy',$stats);
?>
<ul class="list">
<li class="list1"><b>jRPG</b>: dużo by tu wymieniać ;)</li>
<li class="list1"><b>non-jRPG</b>: też wiele :P</li>
<li class="list1"><b>Coś o sobie</b>: Hmm... 15 lat, interesuje się informatyką (programowanie), grami, uczę się japoñskiego ;) I to tyle :P </li>

<li class="list1"><b>Nałóg</b>: największy to granie ;)</li>
<li class="list1"><b>Co tu robi</b>: recenzuje gry na X360 i pisze newsy ^^. Naczelny Screen Resizer XD</li>
<li class="list1"><b>kontakt</b>: 2388610/<a href="mailto:cloud_12@o2.pl" class="menu1">cloud_12@o2.pl</a></li>
<?
print_bottom_stats($stats);
?>

<?
$stats = getStats('Onion');
print_top_stats('Master of Onion','Onion',$stats);
?>
<ul class="list">
<li class="list1"><b>jRPG</b>: dużo</li>
<li class="list1"><b>non-jrpg</b>: dużo (fallout, mgs, ddr ?)</li>
<li class="list1"><b>Coś o sobie</b>: Masz jakiś interes - piszesz do mnie ;) Jedna z najbardziej zlolowanych osób jakie znam. Redaktor DBT, nJs, PKO BP i FWPzP (Frontu Wyzwolenia Piwa z Puszek)</li>
<li class="list1"><b>Nałóg</b>: dziewczęta, granie w ddr-a z piwem w ręku</li>
<li class="list1"><b>Co tu robi</b>: siedzi na tronie z literkami DBT, funboxuje, czasem coś innego</li>
<li class="list1"><b>kontakt</b>: GG - 2856945, <a class="menu1" href="mailto:oniony@o2.pl">oniony@o2.pl</a></li>
<?
print_bottom_stats($stats);
?>

<?
$stats = getStats('SQuall');
print_top_stats('SQuall','SQuall',$stats);
?>
<ul class="list">
<li class="list1"><b>ulubiony jrpg</b>: Final Fantasy VIII, Golden Sun, GS: The Lost Age </li>
<li class="list1"><b>Nie jrpg</b>: MMORPG (Lineage II, Ragnarok Online, WoW) cRPG, Platformówki, Hack'N'Slash, Mordobicia. </li>
<li class="list1"><b>Coś o sobie</b>: Em... Bo ja wiem? Uczeñ, gracz, kinomaniak, rockman. Jestem też ironiczny, sarkastyczny, wyluzowany, (chamski i wulgarny - to zależy od nastroju) </li>

<li class="list1"><b>Nałóg</b>: Manga &amp; Anime, Muzyka, Kobieta/y. xD </li>
<li class="list1"><b>Co tu robi</b>: Pewnie pisze texty, albo się obija. ;]</li>
<li class="list1"><b>Kontakt</b>: GG - 5109357, <a href="mailto:squall.pl@gmail.com" class="menu1">squall.pl@gmail.com</a> </li>
<?
print_bottom_stats($stats);
?>


<?
$stats = getStats('Sharky');
print_top_stats('Sharky','Sharky',$stats);
?>
<ul class="list">
<li class="list1"><b>Ulubiony jrpg</b> : FFVII</li>
<li class="list1"><b>Nie jrpg</b> : seria Resident Evil</li>
<li class="list1"><b>Coś o sobie</b> : Co tu dużo pisać, poprostu jestem wspaniały. Jak chcecie wiedzieć jak jest w skórze Supermana, just ask sharky.</li>

<li class="list1"><b>Nałóg</b> : kilka niegroźnych</li>
<li class="list1"><b>Co tu robi</b> : czai się w ukryciu i atakuje z partyzanta</li>
<li class="list1"><b>Kontakt</b> : GG 6149327 , <a href="mailto:woyteq6@wp.pl" class="menu1">woyteq6@wp.pl</a>
<?
print_bottom_stats($stats);
?>

<?
$stats = getStats('Balth');
print_top_stats('Balth','Balth',$stats);
?>
<ul class="list">
<li class="list1"><b>jRPG</b>: seria SMT, dzieła Square i Enixa przed fuzją i inne</li>
<li class="list1"><b>non-jrpg</b>: z każdego gatunku coś się znajdzie</li>
<li class="list1"><b>Coś o sobie</b>: Kulturalny młody człowiek lubiący dobry film, książkę, muze, anime.  Nie mam żadnego talentu, co najwyżej mogę dawać zły przykład [i to też nie za dobrze]</li>
<li class="list1"><b>Nałóg</b>: Kobieta mego życia :D granie, lenistwo</li>
<li class="list1"><b>Co tu robi</b>: njusuje i spamuje na forum :D</li>
<li class="list1"><b>Kontakt</b>: <a href="mailto:dakrgrzyb@o2.pl" class="menu1">dakrgrzyb@o2.pl </a> / GG: 5367425</li>
<?
print_bottom_stats($stats);
?>



<?
$stats = getStats('RyJu');
print_top_stats('RyJu','RyJu',$stats);
?>
<ul class="list">
<li class="list1"><b>ulubiony jrpg</b>: Final Fantasy VIII</li>
<li class="list1"><b>Nie jrpg</b>: Gothic 1</li>
<li class="list1"><b>Coś o sobie</b>: 15 lat, interesuję się informatyką, wszelkimi rpg i jrpg.</li>
<li class="list1"><b>Nałóg</b>: jrpg/anime/warhammer/Ragnarok Online ;]</li>
<li class="list1"><b>Co tu robi</b>: Pisze teksty :P</li>
<li class="list1"><b>kontakt</b>: GG: 7211438, e-mail <a href="mailto:ryju@o2.pl" class="menu1">ryju@o2.pl</a></li>
<?
print_bottom_stats($stats);
?>
<?
$stats = getStats('Adult');
print_top_stats('Adult','Adult',$stats);
?>
<ul class="list">
<li class="list1"><b>ulubiony jRPG</b>:  FFVIII, FFVII, Saiyuki Journey West</li>
<li class="list1"><b>nie-jrpg</b>:  StarCraft, Carmageddon 2 i inne</li>

<li class="list1"><b>Coś o sobie</b>: Fan anime, dobrych książek i filmów</li>
<li class="list1"><b>Nałóg</b>: kawa, internet</li>
<li class="list1"><b>Co tu robi</b>: sprzątam i zamiatam</li>
<li class="list1"><b>kontakt :</b> <a href="mailto:adult1@wp.pl" class="menu1">adult1@wp.pl</a></li>

<?
print_bottom_stats($stats);
?>


<br /><br />
<i><b>Demon</b></i>
<br /><br />

<b>Pozostali</b>
<br />
Są to osoby które tworzyły za czasów jRPG Site, a ich teksty zostały na njS.
<br /><br />
Sephion<br />
Szop<br />
Lady Blackpearl<br />
Crono<br />
Fiodor<br />
Bloodstar<br />

Ice<br />
Gołomb<br />
Boe<br />

Ashley<br />
Kwidzone<br />
<br />
Teksty są własnością każdego autora, i za jego zgodą są umieszczone na stronie.

</div>
