<h3>Informacje dla użytkowników</h3>
<div id="tresc">





<h4 id="pisanie_rec">Pisanie Recenzji</h4>
<p>
Umożliwiliśmy pisanie własnych recenzji na NjS. Napisana recenzja powinna być poprawna gramatycznie i ortograficznie. Tak napisana recenzja / playtest, zostaje poddana testowi. Użytkownicy decydują o jakości recenzji. Tylko zaakceptowana recenzja pojawia się w dziale głównym gry lub dziale <a class="upmenu" href="<?=_HOME?>recenzje">Recenzje</a>. Recenzja zostaje przyjęta przy <b>pięciu</b> pozytywnych opiniach nt. jej jakości. Przy pięciu negatywnych opiniach, recenzja zostaje <u>usunięta</u> z działu Poczekalnia. 
<br>
Krótsza forma recenzji to <b>Playtest</b>. Jeśli nie zamierzasz opsiywać każdego elementu gry, a tylko chcesz napisać swoje luźne spostrzeżenia i wnioski po krótkim obcowaniu z tytułem, napisz Playtest. Recenzje i Playtesty punktowane są tak samo. <br>
Pisząc recenzje / playtest gry która ma swój dział w menu głównym (tj. Games) <u>wybierz ten tytuł z listy</u>. Pozwoli to systemowi, pokazywać Twoją recenzję w dziale głównym danego tytułu. Na przykład. Pisząc swoją recenzję Chrono Cross, zaznaczasz z listy ten tytuł. Po dodaniu (i akceptacji) tekstu, pojawi się on w dziale głównym gry (a nie tylko w dziale "Recenzje").<br>
Możliwość dodawania <b>screenów</b> do tekstów, zostaje udostępniona zaufanym użytkownikom, którzy przekroczą <i>pewien</i> próg punktacji Exp.
</p>

<h4>Dodawanie Newsów</h4>
<p>
Będąc zalogowanym możesz dodawać newsy. Obsługa HTML została wyłączona. Aby dodać link, wystarczy wkleić cały adres (łącznie z http://). Mechanizm selekcji jest podobny do tego opisanego powyżej. 
</p>


<h4>Profil</h4>
<p>
Profil użytkownika składa sie z trzech statystyk. Są to <b>Exp</b>, otrzymywane za każde owocne korzystanie z NjS. <b>Ranga</b> - rosnąca wraz z Exp, oraz <b>Gil</b>. Jeśli użytkownik napisał recenzję, njusa lub jakiś tekst na stronę - również jest to pokazane.
</p>
<p>
<b>Avatar</b> - czyli mały obrazek reprezentujący nasz profil. System akceptuje pliki <b>jpg</b> nie większe niż <b>70px na 70px</b>. Domyślnie, avatarem jest obrazek cactuara. <i>Aby powrócić do avatara domyślnego, wystarczy pozostawić puste pole na adres i kilknąć Zapisz. </i>
</p>



<h4>Oceny</h4>
<p id="oceny">
<ul class="list">
<li class="list1">1. Po prostu ;( </li>
<li class="list1">2. :( </li>
<li class="list1">3. :/ </li>
<li class="list1">4. -_-' </li>
<li class="list1">5. Średniak. <i>Ani ziębi ani grzeje</i>.</li>
<li class="list1">6. Szczerze? Pograj w MGS'a.</li>
<li class="list1">7. Dobra gra na wiele godzin. Po skoñczeniu <i>hitów</i> warto obadać gry o takiej nocie. Ale dopiero wtedy.</li>
<li class="list1">8(+). Dopracowana produkcja. Prawdopodobnie gra znajdująca się w czołówce jRPG na swoją platformę.</li>
<li class="list1">9(+). Gra praktycznie pozbawiona wad. Ogromna ilość frajdy + najwyższa jakość. Jedna z najlepszych gier na swoją platformę.</li>
<li class="list1">10. Gra ponadczasowa i ponadplatformowa. </li>
</ul>
</p>




</div>

