html, body {
margin: 0px;
padding: 0px;
background-color: #FBFBFB;
}
#main {
padding: 0px;
background-color: #fbfbfb;
margin: 0 auto;
border-style: solid;
border-color: #8a8f87;
border-width: 0px 1px 1px 1px;
width: 480px;

overflow:hidden;
}
div.menuu {
width:480px;
background-color: #E1E2C1;
font: normal 11px Tahoma;
color: #6C5752;
}
div.menuu a {font-decoration: underline; color: #50933D;}

#content {
margin:0px;
float: left;
width: 400px;
padding: 0px;
}


#tresc {
margin:0px;
width: 400px;
padding: 3px;
font: normal 12px Verdana;
word-spacing:1px;
color: #454545;

}


P {

padding: 1px;
font: normal 12px Verdana;
color: #454545;
word-spacing:1px;
line-height: 1.4;
}
#quote {
padding-bottom:1px;
width:480px;
text-align: center;
height: 11px;
border-width: 1px 0px 0px 0px;
border-style:solid;
border-color: #adab92;
background-color: #ebeadd;
font: normal 8px Arial;
}

#logo {
margin:0px;
padding:0px;
width:480px;
height:50px;
background-image:url("logo.jpg");
border: solid 1px #828070;
border-width: 1px 0px 1px 0px;
}
.games_menu .game {

border-top: solid 1px #ededed;
}



a.gra {
padding-left: 15px;
margin-left:0px;
background-image:url("gfx/bullet_green.png");
background-repeat:no-repeat;

color: #777560;
letter-spacing: 0px;
font: Normal 12px Arial;
border-top:solid 1px #e9e9ca;
display: block;
text-decoration: none;

}
a.gra:hover {
text-decoration: underline;
color: #8ea456;
}

/* a.gra:first-letter {font-size:13px; } */

.dzialy{
margin:0px;
background-color: #f8f8f6;

}
a.link1
{
text-decoration: none;
font: normal 11px Arial;
color: #9b7c7c;
}
a.link1:hover
{
color: #563a3a;
}
a.kmnt {
padding-left: 10px;
background-image:url("gfx/kropka.gif");
background-repeat:no-repeat;
font: normal 12px Arial;
border: solid 1px #fcfcfc;
border-width: 1px 0px 0px 0px;
display: block;
color: #6b6b6b;
text-decoration: none;
}
a.kmnt:hover {color: #505050; background-color:#f0f0f0;
text-decoration: underline;}
                                   /* FORMULARZE */
.form_logowanie {
font: normal 11px Arial;
color: #90A16B;
margin: 0px;
padding:0px;
}
a.pyt {
font: bold 11px Arial;
color: #90A16B;
text-decoration: none;
}
a.pyt:hover{
text-decoration: underline;
}
.input_logowanie {
border : solid 1px;
padding: 0px;
margin: 2px;
font: bold 12px Arial;
color: #90A16B;
background-color:#F2F2F2;
width: 120px;
}
.input_logowanie:focus {
background-color:#FFF;
}
#form_rejestracja {
padding: 4px;
}
.input_rejestracja{
margin: 2px;
border : solid 1px #ccd7c3;
padding: 1px;
font : normal 12px Verdana;
color: #737d6b;
background-color:#f0efe8;
}
.input_rejestracja:focus {background-color: #ffffff;}

.rejestracja {
font: bold 13px Arial;
color: #9a987f;
background-color: #f8f8f6;
border:solid #cfcebf;
border-width: 1px 1px 1px 1px;
width: 100%;
border-collapse: collapse;
text-align: center;
}
.addsth
{
padding: 3px;
border: solid 1px #d6d6d6;
font: Normal 13px Tahoma;
color: #61615d;
}
cite {
font: 8px tahoma;
color: #7a8b74;
letter-spacing: 1px;
}
.mini {
color: #a7a58b;
font: normal 9px Verdana;
}


.ocena {


       color: #8a624e;
       font: bold 25px Georgia;
       border-left: solid 6px #e1dad6;
       padding-left:2px;
       }




h5 {
padding-left:1px;
letter-spacing: 2px;
font: Normal 13px Tahoma;
margin: 0px 0px 0px 0px;
       color: #f2f1e7;
       background-color: #9a987f;
border: solid 1px #f7f7f7;
border-width: 1px 0px 1px 0px;


}

.hotbig {
       font: Normal 16px Tahoma;
       color: #576a38;
}
 h2 {

       font: Normal 16px "Trebuchet MS";
       color: #7c884e;
       margin-top: 2px;
       margin-bottom:2px;


}



h3 {
margin-top: 2px;
margin-left: 3px;
display: block;
border-bottom: solid 1px #e7e7e7;
font: normal 22px "Times New Roman";
color: #73704d;
padding-bottom: 2px;
margin-bottom: 5px;

}
h4 {
font: normal 17px Tahoma;
color: #848054;
margin:1px;

}

                                                               /* NEWS STYLE */
.nag1{
       font: bold 15px "Trebuchet MS";
       color: #9F8382;
       margin: 0px 0px 0px 0px;


}
h1 {font: normal 16px  Tahoma;
       color: #4b4b4b;
       margin: 0px 0px 0px 0px;
       padding:1px;
       color: #69684b;
}

.imgnews {float: left; padding: 5px;  margin-right: 4px;}
.imgnews2{float: left; margin-top:2px; }
.imgpanel {margin-top:1px; margin-right:4px; vertical-align: middle;}

.news {

width: 480px;
padding:0px;
margin-bottom:5px;
border: solid 1px  #e9e9e9;
border-width: 0px 0px 0px 0px;
background-color: #fbfbfb;

min-height:85px;
height: auto !important;
height: 85px;

}
a.newstitle {
font: bold 13px Arial;
color:#5F4544;
text-decoration:none;
}
.dane_news {
font: Normal 9px Tahoma;
color: #859170;
padding:5px;
}
a.komentarze_link {
font: normal 11px Tahoma;
color: #828060;
text-decoration: none;
}
a.komentarze_link:hover {color: #5d824c; text-decoration: underline;}

.tresc_newsa {
padding: 5px;
margin-top:0px;
padding-top: 0px;
word-spacing: 1px;
font: Normal 13px Arial;
color: #4e4e4e;


line-height: 1.3;
}



                                                               /* Konto */

a.profil {
text-decoration:none;
color: #69684b;
font: Bold 12px Arial;
}
a.profil:hover {color: #90ad7d; text-decoration: underline;}


.input_konto {
margin: 2px;
width: 200px;
border: 1px solid #c7c5aa;
background-color: #f6f6f6;
font: normal 10px Verdana;
color: #837f50;
}
.input_konto_button{
font: Bold 10px Verdana;
border: 1px solid #c7c5aa;
background-color: #f6f6f6;
color: #837f50;
}


div.pasek_konto {
padding-left:5px;
border-left:solid 5px #EEF1E9;
margin-bottom:5px;
}






/* pozostalosc z njs 1, nie uzywac tego */
font.hot{
font: normal 11px Verdana;
color: #565C5B;

}


.txt{

color: #3b3b3b;
font: normal 11px Verdana;
background-color: #f8f8f6;
border:solid #dadada;
border-width: 1px 1px 1px 1px;
border-collapse: collapse;
}



table {
font: normal 12px Arial;

}

.siwy {
       padding:2px;
       background-color: #dfdfdf;
       font: normal 11px Verdana;
}
.jasny {
       padding:2px;
       background-color:#fff;
       font: normal 11px Verdana;
       }
a.upmenu {font: normal 12px tahoma; color: #95847c; text-decoration:none;}
a.upmenu:hover {text-decoration: none; color: #654e44;}

a {
color: #575d56;
text-decoration: underline;
}
a:hover {text-decoration: none;}




.news_w8 {
width: 70%;
background-color: #fbfbfb;
border: solid 3px #efefef;
border-width: 0px 0px 4px 4px;
font: normal 11px Tahoma;
color: #5c5c5c;
padding: 3px;
margin-bottom:2px;

}
.form_glosuj
{
margin:0px;
}
.glosuj {

margin:1px;
background-color: #f0f3eb;
border-top-color: #dadada;
border-right-color: #dadada;
border-left-color: #8c8c8c;
border-bottom-color: #8c8c8c;
border-style: solid;
border-width: 1px;
font: bold 13px Verdana;
color: #73864f;
}

.users {
border: solid 1px #d7d7d7;
padding: 3px;
background-color: #fefefe;
font: normal 11px Verdana;
margin-bottom:3px;

}



.danetxt {
width:80%;
padding:2px;
margin-top: 3px;
border: 1px solid #e1e8e1;
background-color: #f8f8f8;
font: normal 10px Verdana;
color: #908f7d;
margin-bottom: 2px;
}



.games{
       font: bold 11px Verdana;
       color: #7D7D87;

}


.special {
font: normal 11px tahoma;
color: #9d8158;
}




a.funmenu
{
       font: normal 11px Tahoma;
       color: #696677;
       text-decoration: none;


}
a.funmenu:hover

{
       font:normal 11px Tahoma;
       color: #3c444c;
       text-decoration: none;
}


.ex {
       font: Normal 13px Arial;
       text-decoration: none;
       color:#938d76;
       border: 0px solid;
       border-bottom-width: 1px;
       border-color: #e5dedb;
       margin-bottom:3px;
}

.ex:hover {
               color: #5f5a4a;
               border-color: #b6a095;
}
a.ukryte{
color:#D8D7DD;
       font-family: tahoma;
       font-size: 11px;
       text-decoration: none;
       cursor: default;
}

#font_up {
font: normal 13px "Trebuchet MS";
color: #90a16b;
text-decoration: none;
cursor: pointer;
}
#font_down {
font: normal 11px "Trebuchet MS";
color: #90a16b;
text-decoration: none;
cursor: pointer;
}
#font_serif {
font: normal 12px Serif;
color: #90a16b;
text-decoration: none;
cursor: pointer;
}
#font_up:hover {color: #515151;}
#font_down:hover {color: #515151;}
#font_serif:hover {color: #515151;}


                                       /* style pod katalog jrpg*/
.pod_obrazki {
text-align: center;
margin: 0 auto;
margin-top:5px;
margin-bottom:5px;
padding: 3px;
width: 90%;
border: solid 1px #dbdad0;
border-width: 1px 0px 1px 0px;

background-color: #f8f8f4;

}
.screens {
border: solid 1px #696969;
padding: 1px;
background-color: #c1c1c1;
margin: 4px;
}


.katalog_tab {

width: 90%;
border-spacing: 1px;
margin: 0 auto;
}
.ciemny {
padding:2px;
background-color: #c6c5b6;
font: normal 12px Tahoma;
color: #ffffff;
}
.ciemny2
{
background-color: #eaebe5;
}
.link2 {font: normal 12px "Trebuchet MS"; color: #979a84;
border-bottom: solid 1px #f1f1fb; text-decoration: none;}
.link2:hover {border-bottom: solid 1px #a8aaa1; color: #62645b;}
.link3{font: normal 13px Arial; color: #6f7264; border-bottom:solid
1px #e5eadd; text-decoration: none;}
.link3:hover {border-bottom: solid 1px #85b127;}


/* kmnt i avki */

.komentarze {
clear: both;
width: 480px;
margin: 0 auto;
margin-bottom:5px;
color: #515150;
border: dotted 1px #b4b39f;
border-width: 0px 1px 0px 0px;
z-index:1;

}

.kmnt1 {
overflow: hidden;
padding: 3px;
font: normal 12px Verdana;
width: 480px;
border: solid 1px #a3a18b;
border-width: 0px 0px 1px 0px;
background-color: #e3e2d3;
margin: 1px;
}
.kmnt2 {
overflow: hidden;
margin: 1px;
padding: 3px;
font: normal 12px Verdana;
width: 480px;
border: solid 1px #bebdab;
border-width: 0px 0px 1px 0px;
}

.kom_pola {
height: 130px;
width: 400px;
margin:2px;
padding: 2px;
border: solid 1px #bdbdac;
font: Normal 13px Arial;
color: #5e5e57;
background-color: #f9f9f9;
}


.av {
width:80px;
border-right: solid 1px #bfbeac;
float: left;
}
.koment {
margin-left: 81px;
padding-right: 10px;
padding-left: 6px;
}

/* style list*/
ul.list {list-style: none; padding-left: 3px; margin-top:3px;}

.list1{
padding: 2px;
padding-left: 15px;
background-image:url("gfx/bullet_spec2.png");
background-repeat: no-repeat;
}

.list2{
padding: 2px;
border-bottom:solid 1px #EEF1E9;
padding-left: 15px;
background-color:#F5F5F5;
background-image:url("gfx/bullet_spec.png");
background-repeat: no-repeat;
}


.hr {
display: block;
width : 80%;
height:1px;
background-color: #e0e1d3;
}

/* kolory i czcionki */
.braz_maly {color: #83825e; font-size:10px;}
