.lista {width: 1000px;
box-shadow:0px 2px 2px #444444;
padding:20px;
background-color: #DADADA;
margin:0 auto;
}
.nav {
background: -webkit-gradient(linear, 0 0, 0 100%, from(#C81E2B), to(#F04349));
background: -moz-linear-gradient(#C81E2B, #F04349);
background: -o-linear-gradient(#C81E2B, #F04349);
background: linear-gradient(#C81E2B, #F04349);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
overflow:hidden;
font-style:italic;
color:#fff;
}

h1 {
font: Normal 2em Georgia;
text-align:center;
color:#353535;
text-shadow: 1px 1px 1px #F1F1F1;
}
.gra {
margin-top:6px;
overflow:hidden;
clear:both;
color: white;
background: #075698;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#2E88C4), to(#075698));
background: -moz-linear-gradient(#2E88C4, #075698);
background: linear-gradient(#2E88C4, #075698);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
box-shadow:0px 1px 2px #444444;
}
.gra:hover {}

.id {font-size:30px; opacity:.5; width:100px; float: left; margin:3px 0 0 10px;}
.title {font-size:33px; opacity:.8; width:430px; float: left; margin-right:10px; margin-left:10px;}
.prod {font-size:22px; opacity:.4; width:200px; float: left; margin-right:10px; margin-left:10px; margin-top:5px;}
.year {margin-top:11px; font-size:17px; font-family:'Trebuchet MS'; opacity:.3; width:100px; float: left;}
.genre {margin-top:11px; font-size:17px; font-family:'Trebuchet MS'; opacity:.3; width:100px; float: left;}
.gra div {text-shadow: 1px 1px 1px rgba(0,0,0,.5);}
